.embla {
    overflow: hidden;
}

.embla__container {
    display: flex;
    gap: 2rem
}

.embla__slide {
    flex: 0 0 auto;
    min-width: 0;
}

.slide-card-container {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slide-card-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}